/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  font-size: 1.75em;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

span {
  padding-left: 40px;
  padding-right: 40px;
}

body {
  font-family: Helvetica;
  padding-top: 57px;
}

.navbar-nav ul li{
  background-color: #ffffff;
}

/********** My styles **********/

.mypanel {
  border: 1px solid black;
  background-color:#d9d9d9;

  margin:10px 10px 10px 10px;
}

.mypanel-heading{
  width: 100%;
  height:40px;
}

.mypanel-heading-title{
  float:right;
  height: 100%;
  border: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  background-color: pink;
  text-align: center;
  font-weight: bold;
  font-size: 1.75em;
}

.row > div:nth-child(1) .mypanel .mypanel-heading .mypanel-heading-title  {
  background-color: #eaaebd;
}

.row > div:nth-child(2) .mypanel .mypanel-heading .mypanel-heading-title  {
  background-color: #85e09c;
}

.row > div:nth-child(3) .mypanel .mypanel-heading .mypanel-heading-title  {
  background-color: #aedbea;
}

.navbar-fixed-pos{
  position:fixed;
  top:0px;
  width: 100%;
  height: 30px
  border: 1px solid black;
  background-color:#d9d9d9;
  z-index: 1;
}

